
.banner {
    height: 100vh;
    width: 100%;
    background: url('../img/overlay.png'),url('../img/banner.jpg.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-alt{
    font-size: 40px;
    color: whitesmoke;
    margin-top: 30px; 
}

.logo-alt:hover {
    color: #FFC107;
}

// .navbar-brand {
//     font-size: 40px;
//     color: whitesmoke;
//     margin-top: 30px;
// }

.main-content {
    padding-top: 150px;
}

.elinks {
    margin-top: 70px;
    height: 100px;
    font-size: 20px;
    line-height: 80px;
}

.nav-link:hover {
    color: #FFC107;
}

.footer {
    background-color: #4c4c4c;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    color: whitesmoke;
}

.footer-link {
    color: white;
}

.footer-link:hover {
    color: #FFC107;
    text-decoration: none;
}