.directory {
  padding: 1em;
  margin-top: 1em;
  background-color: hsl(230, 23, 94);
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: blueviolet;
    }
  }
}

.product {
  padding: 2em 1em;
  hr {
    margin: 0;
    width: unset;
  }
  .image-box {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    user-select: none;

    img {
      width: calc(100% - 2em);
      height: 300px;
      object-fit: contain;
    }
    .image-selection {
      display: flex;
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
      padding: 1em;
      div.image-item {
        position: relative;
        margin: 10px;
        width: 80px;
        height: 80px;
        a {
          width: 80px;
          height: 80px;
        }
        img {
          width: 80px;
          height: 80px;
          position: relative;
          object-fit: contain;
          z-index: -1;
          padding: 2px;
        }
        .active-image {
          width: 80px;
          height: 80px;
          z-index: 10;
          opacity: 0.6;
        }
      }
    }
  }
  .product-detail {
    padding: 1em;
    line-height: 1.5em;
    .product-name {
      font-size: 20px;
      font-weight: bold;
    }
    p,
    span {
      font-size: 14px;
    }
    .rating {
      color: rgb(10, 180, 231);
      span {
        margin: 0;
        padding: 0;
        color: gold;
      }
    }
    .buttons-div {
      margin-bottom: 1em;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      .btn {
        margin: 1em 0;
        z-index: 0;
      }
      span {
        display: inline-block;
        font-size: 24px;
      }
    }
    .product-state {
      color: #02e027;
      font-weight: bold;
    }

    .product-highlight {
      font-size: 14px;
      ul.highlight-list {
        list-style-type: disc;
        display: block;
        li.hightlight-item {
          display: list-item;
          margin-left: 1.5em;
          text-align: justify;
        }
      }
    }
  }
}
