* {
  box-sizing: border-box;
}
.view-products {
  max-width: 1500px;
  height: 100%;
  flex: 1;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px minmax(250px, 1300px);
  grid-template-rows: 100%;
  grid-template-areas: "filter products";
}

.filter {
  grid-area: filter;
  padding: 1em;
  border-right: 1px solid #aaa;
}
.products {
  grid-area: products;
  height: auto;
  //   background-color: #feda00;
  padding: 1em 2em;
  .sorting {
    display: flex;
    justify-content: flex-end;
    select {
      width: 150px;
      padding: 3px 5px;
      border-radius: 5px;
      margin-left: 5px;
      text-align: center;
    }
  }
  .product-listing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    .product-card {
      width: 200px;
      height: 250px;
      margin: 1em;
      padding: 1em;
      cursor: pointer;
      user-select: none;
      transition: all 0.2s ease;
      .img-box {
        width: 100%;
        height: 160px;
        position: relative;
        transition: all 0.2s ease;
        .product-image {
          width: 100%;
          height: 100%;
          padding: 1em;
          margin: 0 auto;
          object-fit: contain;
          position: relative;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
      &:hover {
        box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
        .img-box {
          opacity: 0.4;
        }
      }
      .product-detail {
        font-size: 80%;
        line-height: 1.5em;
        p {
          margin: 0;
        }
        span.selling-price {
          font-weight: 900;
          color: #0a3695;
        }
        span.mrp {
          text-decoration: line-through red 2px;
        }
      }
    }
  }
}

//todo responsive is not done
