@import "./dashboard";

section {
  .container {
    & > h3 {
      letter-spacing: 0.3em;
    }
    .row > div {
      padding: 0 10px;
      .card {
        height: 130px;
        border-radius: 5px 20px 5px 20px;
        margin: 10px;
        padding: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        background-color: #273c99;
        h4 {
          text-align: center;
          letter-spacing: 0.1em;
          line-height: 1.5em;
          margin-bottom: 15px;
          border-bottom: 1px solid;
        }
        p {
          display: flex;
          justify-content: space-between;
          margin: 0 20px;
          span.value {
            color: #7bff00;
          }
        }
      }
      // &:nth-of-type(1) {
      //   .card {
      //     background-color: #203281;
      //   }
      // }
      // &:nth-of-type(2) {
      //   .card {
      //     background-color: #1b308f;
      //   }
      // }
      // &:nth-of-type(3) {
      //   .card {
      //     background-color: #525e91;
      //   }
      // }
    }
  }
}

@import "./users";
@import "./category";
