@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

//?color scheme
$bgColor: #f5f5f5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
ul {
  list-style: none;
}

.btn:focus,
.btn:active,
input:focus {
  outline: none !important;
  box-shadow: none;
}

.material.icons {
  font-family: "Material Icons";
  vertical-align: middle;
  padding: 0.5em;
}

aside {
  position: sticky;
  top: 0;
  display: flex;
  width: 300px;
  height: 100vh;
  background-color: $bgColor;
  nav {
    width: 100%;
    height: calc(100vh - 1em);
    margin: 0.5em;

    ul.nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1.5rem;
      .logo {
        width: 100px;
        margin: 0 auto;
        margin-bottom: 1.5rem ;
      }
      .nav-item{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          margin: 1.5rem auto;
          border-bottom: 1px solid;
          border-top: 1px solid;
          span{
          margin-right: .5em;  
          }
          &:hover{
              background-color: #0a5693;
              color: #fff;
              transition: all .3s ease;
          }
          &:active{
              transform: scale(.5, .5);
          }
      }
      .active{
          background-color: #ff9900;
          color: #fff;
      }
    }
  }
}

div.view-box {
  width: 100vw;
  header {
      position: sticky;
      top: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
    background-color: $bgColor;
    .btn-logout {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        margin-left: 0.3rem;
      }
    }
  }
}
