@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@import "./view-Products";
@import "./product";

$bgColor: #e9e9e9;
$navbtnColor: #1e679d;
$btnColor: #0a5693;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  vertical-align: middle;
  color: #606060;
}
.logo {
  width: 60px;
  box-sizing: border-box;
  object-fit: cover;
  cursor: pointer;
}
.btn:focus,
.btn:active,
input:focus {
  outline: none !important;
  box-shadow: none;
}

ul {
  list-style-type: none;
  display: inline-block;
  li {
    display: inline-block;
    margin: 0;
  }
}

hr {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid rgba(0, 0, 0, 0.178);
}
h5 {
  margin-top: 1em;
  font-size: 130%;
}
//? sup tag custom
sup {
  margin: 0;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  position: absolute;
  padding: 0.84em 0.372em;
  background-color: red;
  right: 0;
  top: 0;
}

// ? search box style
.search-box {
  width: 180px;
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: border-box;
  input {
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    padding: 0.5rem 2.5em 0.5rem 0.5rem;
    border-radius: 30px;
    padding-right: 4d0px;
    font-size: 14px;
    &:focus {
      outline: 2px solid blue;
    }
  }
  .btn {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    .material-icons {
      font-family: "Material Icons";
      vertical-align: middle;
    }
  }
}

//? header style
header {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  position: sticky;
  min-height: calc(7vh - 1em);
  top: 0;
  z-index: 999;
  padding: 0.5em 1em;
  //   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  background-color: $bgColor;
  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bgColor;
    width: 15%;
    margin: auto 0;
    vertical-align: middle;
    .btn {
      &:hover {
        background-color: $navbtnColor;
        color: #fff;
      }
    }
  }
  .burger {
    display: none;
    div {
      transition: all 0.3s ease;
      width: 25px;
      height: 3px;
      margin: 5px;
      background-color: #000;
    }
  }
}
.dropdown {
  &:hover > .dropdown-menu {
    display: block;
  }
}

//? end of header style
//? banner style
section.banner {
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .carousel-indicators li {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
  }
}
// ? end of banner style

// ? category style
.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2em 0 4em;
  position: relative;
  margin-bottom: 2em;
  .category-item {
    max-width: 200px;
    max-height: 250px;
    margin-top: 1em;
    transition: all 0.1s ease-in;
    .img-box {
      max-width: 200px;
      max-height: 150px;
      margin: 0 auto;
      img {
        max-width: 200px;
        max-height: 150px;
        object-fit: contain;
      }
    }
    h5 {
      // font-size: 100%;
    }
    &:active {
      transform: scale(0.5, 0.5);
    }
  }
  .btn-category {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: $btnColor;
    color: #fff;
    &:hover {
      background-color: #073d77;
      transition: all 0.3s ease;
    }
    &:active {
      transform: scale(0.5, 0.5);
    }
  }
}
// ? end of category style
//? gender category style
section.gender-category {
  box-sizing: border-box;
  height: auto;
  margin: 3em 0;
  h2 {
    font-size: 36px;
    font-weight: 900;
  }
  .owl-carousel {
    text-align: center;
    vertical-align: middle;
    position: relative;
    .gender-category-item {
      transition: all 0.1s ease-in;
      cursor: pointer;
      box-sizing: border-box;
      position: relative;
      margin: 0 auto;
      transition: all 0.1s ease;
      img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        object-fit: contain;
        transition: all 0.1s ease;
        &:hover {
          transform: scale(1.2);
        }
      }

      &:active {
        transform: scale(0.5);
      }
    }

    .material-icons {
      font-family: "Material Icons";
      font-size: 2em;
    }
    .btn-prev,
    .btn-next {
      position: absolute;
      top: calc(250px / 2 * -1 - 10px);
    }
    .btn-prev {
      left: -5%;
    }
    .btn-next {
      right: -5%;
    }
  }
}
//? end of gender category style
//? footer style
footer {
  margin-top: auto;
  .container {
    margin-bottom: 2em;
    .row {
      .col-md-3 {
        h3 {
          margin-top: 2em;
          font-size: 20px;
          font-weight: 600;
        }
        li {
          cursor: pointer;
          display: block;
          line-height: 1.5em;
          font-weight: 500;
          &:hover {
            font-weight: 900;
            color: #0a569a;
          }
        }
      }
    }
  }
}
// ? end of footer style

//? Responsive Styling
// * Media Query of  1500px
@media screen and (max-width: 1500px) {
  section.banner {
    img {
      height: 300px;
    }
  }
}
//* Media Query of 1200px
@media screen and (max-width: 800px) {
  header {
    .nav-links {
      width: 20%;
    }
  }
  .category {
    .category-item {
      .img-box {
        img {
          max-width: 150px;
          max-height: 100px;
        }
      }
    }
  }
  h5 {
    font-size: 100%;
  }
}
@media screen and (max-width: 700px) {
  header {
    .nav-links {
      width: 30%;
    }
  }
}
@media screen and (max-width: 650px) {
  body {
    min-height: 100vh;
  }
  .dropdown {
    display: none;
  }
  .category {
    padding-bottom: 10%;
  }
  html,
  body {
    overflow-x: hidden;
  }
  header {
    position: sticky;
    top: 0;
    .nav-links {
      height: 8vh;
      position: absolute;
      top: 7.2vh;
      right: 0;
      height: 92vh;
      width: 50%;
      display: flex;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      li {
        opacity: 0;
      }
    }
    .burger {
      display: block;
      cursor: pointer;
    }
  }
}

.nav-active {
  transform: translateX(0%) !important;
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  transition: all 0.3s ease;
  .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: all 0.3s ease;
  }
  .line2 {
    opacity: 0;
    transition: all 0.3s ease;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all 0.3s ease;
  }
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo {
    margin-top: auto;
    width: 200px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin: 1em auto;
    }
  }
}

#register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .logo {
    width: 200px;
    margin: 1em auto;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      margin-bottom: 1em;
    }
  }
}
