* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.logo {
  width: 50px;
}
.btn:active {
  box-shadow: none;
}

ul {
  list-style-type: none;
  display: inline;
  li {
    display: inline;
    margin: 0 1em;
  }
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  padding: 1em 0;
}
